* {
    box-sizing: border-box;
}

body {
    background-color: #f2f3f7 !important;
}

a {
    text-decoration: none;
}

.channel_name {
    font-family: serif;
    font-size: 50px;
    color: #485269;
    font-weight: bold;
    margin-top: 30px;
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .col-sm-8 {
        width: 66.66666667%;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main {
    display: block;
    padding: 10px;
    margin: 10px;
    color: #382628;
    background-color: #efefef;
    border: 1px solid #ddd;
}